body{
    background-color: indianred;
    color: #000000;

}

.primeiro{
    border: 3px solid black;
}

.segundo{
    border: 3px solid black;
}

.terceiro{
    border: 3px solid black;
}

.quarto{
    border: 3px solid black;
}

.post1{
    background-color: gray;
    padding: 10px;
    margin: 10px;
}
